* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.noselect {
    user-select: none;
}

.flex-break {
    flex-basis: 100%;
}

.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1.1em 0;
    display: flex;
    justify-content: space-evenly;
    transition: background-color .3s;
}

.nav-bar.scrolled {
    box-shadow: 0 .1em .5em rgba(0,0,0,.6);
    background: white;
}

.nav-item {
    transition: .3s;
    font-size: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 0 .5em;
    transition: color .3s;
}

.nav-bar.scrolled > .nav-item {
    color: #333;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background: white;
    border-radius: 3px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: .3s;
}

.nav-bar.scrolled > .nav-item::after {
    background: #333;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.hero {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/puerto_rico_mountain.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}

.hero-title {
    font-size: 90px;
    color: white;
    text-shadow: 0 .1em .1em rgba(0,0,0,.5);
}

.projects-btn {
    padding: .2em 1em;
    background: #1588FF;
    color: white;
    font-size: 30px;
    display: inline-block;
    border-radius: .3em;
    box-shadow: 0 .1em .1em rgba(0,0,0,.6);
    cursor: pointer;
}

.section-title {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    color: #333;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 0 10%;
}

.skill-card-wrapper {
    width: 300px;
    height: 400px;
    transition: 1s;
    cursor: pointer;
    position: relative;
    margin: 20px;
    perspective: 2000px;
}

.skill-card-wrapper > div {
    transition: transform 1s;
    box-shadow: 0 2px 8px rgba(0,0,0,.5);
    backface-visibility: hidden;
}

.skill-card {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: white;
    text-align: center;
    z-index: 5;
}

.skill-card-wrapper:hover .skill-card {
    transform: rotateY(180deg);
}

.skill-card > img {
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 50%;
    margin-top: 10%;
}

.skill-card p {
    position: absolute;
    bottom: 5px;
    font-size: 45px;
    width: 100%;
    font-weight: bold;
}

.skill-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    transform: rotateY(180deg);
    background: #333;
    color: white;
    overflow-y: scroll;
}

.skill-title {
    font-size: 40px;
    margin: .2em 0;
    padding: .1em 0;
    border-bottom: 2px solid white;
    box-sizing: initial;
}

.skill-content {
    text-align: left;
    padding: 0 10px 0 20px;
}

.skill-description {
    font-size: 20px;
}

.skill-list li {
    font-size: 20px;
}

.skill-card-wrapper:hover .skill-card-back {
    transform: rotateY(360deg);
}

@media only screen and (max-width: 1365px) {
    .skills {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1175px) {
    .skills {
        padding: 0;
    }
}

@media only screen and (max-width: 665px) {
    .hero-title {
        font-size: 70px;
    }

    .skill-card-wrapper {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 515px) {
    .hero-title {
        font-size: 50px;
    }

    .projects-btn {
        font-size: 25px;
    }
}